<%= form_with(model: [ @article, @article.comments.build ], local:true) do |form| %>
  <% if @comment.errors.any? %>
      <ul>
        <% @comment.errors.full_messages.each do |message|%>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
